@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600&display=swap');
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.container {
    margin: 0 auto;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #222;
}
a {
    text-decoration: none;
    color: #222;
}
a:hover{
    color: #2078C8;
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    margin-left: 30px;
    list-style-type: square;
}
.text--grey {
    color: #ababab;
}
.text--underlined {
    position: relative;
}
.text--underlined:after {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #0067ff;
}

.link {
    -webkit-transition: color 0.1s ease-out 0s;
    -moz-transition: color 0.1s ease-out 0s;
    -o-transition: color 0.1s ease-out 0s;
    transition: color 0.1s ease-out 0s;
}
.link:hover {
    color: #2078C8;
    text-decoration: none;
}
.link--color {
    color: #2078C8;
}
.link--color:hover{
    color: #999;
}
.link--inline {
    text-decoration: underline;
}
.link--publication {
    display: block;
    margin-bottom: 16px;
    padding-left: 20px;
    border-left: 3px solid #191919;
}
.link--publication:first-of-type {
    margin-top: 24px;
}
.link--publication:hover {
    text-decoration: none;
    color: #ababab;
}
.link--block {
    display: block;
    margin-bottom: 16px;
}
.link--disabled {
    color: #ababab;
}
.link--disabled:hover {
    color: #ababab;
}
.link--icon {
    font-size: 0;
    display: block;
    width: 20px;
    height: 20px;
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: background-image 0.8s ease-out 0s;
    -moz-transition: background-image 0.8s ease-out 0s;
    -o-transition: background-image 0.8s ease-out 0s;
    transition: background-image 0.8s ease-out 0s;
}
.btn {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 16px;
    text-decoration: none;
    border: 1px solid #2078C8;
    color: #2078C8;
    font-weight: normal;
    border-radius: 5px;
    -webkit-transition: background 0.1s ease-out 0s;
    -moz-transition: background 0.1s ease-out 0s;
    -o-transition: background 0.1s ease-out 0s;
    transition: background 0.1s ease-out 0s;
}
.btn:active,
.btn:hover,
.btnfocus {
    border: 1px solid #2078C8;
    background: #2078C8;
    color: #fff;
}
.btn--disalbed {
    border: 1px solid #e8e8e8;
    color: #ababab;
}
.btn--disalbed:active,
.btn--disalbed:hover,
.btn--disalbedfocus {
    border: 1px solid #e8e8e8;
    background: none;
    color: #ababab;
}
@media (max-width: 768px) {
    .container {
        margin: 0 20px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 860px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1080px;
    }
}
.alert {
    position: relative;
    background: #0067ff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.alert p {
    margin: 0 auto;
    color: #fff;
    width: 615px;
    text-align: center;
    font-size: 14px;
}
.alert .close {
    position: absolute;
    display: block;
    top: 50%;
    right: 20px;
    width: 15px;
    height: 15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("../icons/icon-close.svg");
    background-position: center;
    background-size: 15px;
}
@media (max-width: 768px) {
    .alert {
        display: none;
    }
}
.header {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: 14px;
}
.footer__nav{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;;
}
.header a, .footer__nav a{
    display: block;
    float: left;
    padding: 20px;
    line-height: 1;
}
.header__logo {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.header__title {
    position: relative;
    padding-left: 40px !important;
}
.header__title .icon-back {
    position: absolute;
    display: block;
    top: 50%;
    left: 20px;
    width: 7px;
    height: 10px;
    margin-top: -5px;
    background-image: url("../icons/icon-back.svg");
    background-position: center;
    background-size: auto 10px;
}
.header__nav ul > li, .footer__nav ul > li {
    display: block;
    float: left;
    margin: 0;
}
.footer__nav ul > li{
    float: none;
}
.footer__nav a{
    float: none;
    text-align: center;
}
.header__nav .link--icon, .footer__nav .link--icon{
    padding: 10px;
}
.header__burger {
    display: none;
}
@media (max-width: 768px) {
    .header {
        position: relative;
        min-height: 50px;
        padding: 10px 0;
        margin-right: 10px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .header__nav {
        display: none;
    }
    .footer__nav ul > li{
        float: none;
        text-align: center;
    }
    .footer__nav a{
        float: none;
    }
    .header__nav > ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
    }
    .header__burger {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 18px;
        height: 24px;
        padding: 16px 16px;
        background-image: url("../icons/icon-burger.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 18px 24px;
    }
}
.screen {
    min-height: 200px;
    height: 70vh;
    gap: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.screen.contacts {
    height: 50vh;
}
.screen__avatar img{
    width: 220px;
    height: 220px;
    border-radius: 100%;
}
.screen__title {
    margin: 0;
    padding: 0;
    margin-bottom: 28px;
    font-size: 40px;
    line-height: 1.25;
    max-width: 540px;
}
.screen p {
    font-size: 20px;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 1.1em;
}
.screen p:last-of-type {
    margin-bottom: 0;
}
@media (max-width: 768px) {
    .screen.contacts {
        height: 30vh;
    }
    .screen__title {
        font-size: 30px;
        max-width: 410px;
    }
    .screen p {
        font-size: 16px;
    }
}
@media (min-width: 768px) {
    .screen p {
        max-width: 620px;
    }
}
@media (min-width: 1200px) {
    .screen__title {
        font-size: 52px;
        max-width: 670px;
    }
}
.content {
    padding: 60px 0;
}
.content img,
.content video {
    display: block;
    width: 100%;
}
.content .comment {
    font-size: 15px;
    text-align: center;
    line-height: 1.4;
    margin-top: 0px;
    margin-bottom: 20px;
}
.content__title {
    font-size: 46px;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 800px;
}
.content__title .comment {
    font-size: 18px;;
    margin-top: 5px;
    margin-bottom: 70px;
    text-align: left;
    font-weight: normal;
}
.content__text {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.content__text ul{
    margin-bottom: 20px;
}
.content__text li,
.content__text p {
    font-size: 18px;
    line-height: 1.9;
}
.content__text p {
    margin: 20px 0;
}
.content__text li {
    margin-bottom: 10px;
}
.content__text img,
.content__text video {
    margin-top: 30px;
    margin-bottom: 35px;
}
.content__text video {
    -webkit-box-shadow: 0 1px 20px 0 rgba(0, 31, 68, 0.1);
    box-shadow: 0 1px 20px 0 rgba(0, 31, 68, 0.1);
}
.content__h2,
.content__h3 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    margin: 70px 0 20px;
}
.content__h2.subtitle{
    display: inline-block;
    font-size: 42px;
    margin-top: 70px;;
}
.content__h3 {
    margin-top: 40px;
}
.content__h2 .comment,
.content__h3 .comment {
    margin-top: 15px;
    text-align: left;
    font-weight: normal;
}
.content__h3 {
    font-size: 21px;
}
.content__pic {
    display: inline-block;
    border: 1px solid rgba(10,37,64,0.1);
    border-radius: 8px;
    box-shadow: 0 0 2px 0 rgba(0,8,50,0.02),0 2px 4px 0 rgba(0,8,50,0.03),0 3px 12px 1px rgba(0,8,50,0.04);
}
.content__pic.outline-free{
    box-shadow: none;
    border: none;
    border-radius: none;
}
.content__pic .img {
    max-width: 780px;
    margin: 0 auto;
    padding: 20px 0;
}
.content__pic.block-end{
    margin-bottom: 60px;
}

.comment {
    color: #777;
    display: block;
    font-size: 14px;
}
.image_with_comment{
    margin-bottom: 70px;
}
.image_with_comment .content__pic{
    margin-bottom: 25px;
}

.footer{
    margin-top: 150px;
}

.footer__title{
    font-size: 52px;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
}
@media (max-width: 992px) {
    .screen{
        flex-direction: column;
        align-items: baseline;
        gap: 25px;
        height: auto;
        margin: 50px auto;
    }
}
@media (max-width: 768px) {
    .screen{
        margin: 50px 20px;
    }
    .screen__avatar img{
        width: 150px;
        height: 150px;
    }

    .content {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .content__text li,
    .content__text p {
        font-size: 16px;
    }
    .content__h2 {
        font-size: 20px;
    }
    .image_with_comment .content__pic{
        margin-bottom: 15px;
    }
    .content .comment{
        margin-bottom: 30px;
    }
}
@media (max-width: 768px) {
    .content__text,
    .content__title {
        margin: 0 20px;
        font-size: 36px;
        line-height: 1.3;
    }
    .content__h2.subtitle{
        font-size: 30px;
    }
    .project .btn{
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        font-size: 16px;
    }
}
@media (min-width: 768px) {
    .content__text,
    .content__title {
        max-width: 680px;
    }
}
@media (min-width: 992px) {
    .content__text,
    .content__title {
        min-width: 800px;
    }
    .screen.container{
        align-items: self-start;
        padding-top: 200;
        box-sizing: border-box;
}
.project {
    display: flex;
    width: 100%;
    margin-bottom: 120px;
}
.project img {
    width: 100%;
    height: auto;
}
.project__info {
    display: block;
    max-width: 580px;
}
.project__title {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 1.4;
    font-weight: bold;
}
.project__subtitle {
    margin: 8px 0 0 0;
    padding: 0;
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    color: #888888;
}
.project p {
    font-size: 16px;
    line-height: 1.6;
    margin: 8px 0;
}
.project p:first-of-type {
    margin-top: 16px;
}
@media (max-width: 768px) {
    .project {
        margin-bottom: 70px;
    }
    .project__title {
        font-size: 24px;
    }
    .project__subtitle {
        font-size: 16px;
    }
    .project p {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .project {
        flex-direction: column;
    }
    .project__pic {
        margin-bottom: 20px;
    }
}
@media (min-width: 992px) {
    .project__pic {
        display: block;
        width: 320px;
        height: 220px;
        margin-right: 56px;
    }
}
.resume__preview {
    width: 100%;
}
.resume__preview:hover {
    -webkit-box-shadow: 0 0 30px 5px rgba(171, 171, 171, 0.2);
    box-shadow: 0 0 30px 5px rgba(171, 171, 171, 0.2);
}
.resume__skills li {
    padding-right: 20px;
}
.resume__block {
    padding-bottom: 10px;
}
.resume__item {
    margin-bottom: 20px;
}
.resume__item:last-child {
    margin-bottom: 0;
}
.resume__item .period {
    display: block;
    float: left;
    width: 75px;
    margin-right: 30px;
    font-size: 12px;
    color: #ababab;
}
.resume__item .descr {
    float: left;
    max-width: 420px;
}
.resume__item .descr h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
}
.resume__item .descr p {
    margin: 0;
    font-size: 14px;
    color: #ababab;
}
.relative-projects .project{
    margin-bottom: 90px;
}
.relative-projects .subtitle{
    margin-bottom: 70px;
}

.relative-projects .project__pic img{
    margin: 0;
}
.relative-projects .project__info{
    max-width: 460px;
}
@media (min-width: 768px) {
    .relative-projects .project__pic{
        margin-right: 40px;
    }   
}